body{
    background-color: rgb(67, 93, 97);
    height: 20vh;
}
div{
    background-color: aquamarine;
    justify-items: center;
    align-items: center;
    display: flex;
}
select{
    width: 150px;
    border-radius: 12px;
}