body{
    background-color: rgb(73, 116, 116);
    height: 100%;
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: rgba(27, 70, 187, 0.3);
    border-radius: 12px;
    margin: 12px;
    gap: 12px;
    padding: 20px;
    width: 300px;
}
input[type="button"] {
    height: 40px;
    background-color: rgba(125, 191, 235, 0.5);
    border:  1px solid #999;
    cursor: pointer;
    border-radius: 5% ;
}
input[type="text"],
input[type="password"] {
    width: 99%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

form  {
    display: flex;
    flex-direction: column;
}
label {
    color: #fff;
    margin-bottom: 7px;
    font-weight: bolder;
}.pontos::after {
    content: '';
    animation: pontosAnimados 1s steps(4, end) infinite;
}

@keyframes pontosAnimados {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: ''; }
}

