body{
    background-image: url("C:\Users\alves\Documents\programador\html\imagem\fundo.png");
    background: blue;
}
p{ 
    color:rgb(95, 196, 162) ;
    background: rgb(66, 126, 66);
    border: 12px;
    padding: 12px;
    margin: center;
}
div.button{
    height: 12px;
    width: 10px;
    padding: auto;
    color: aqua;
}